*{
  padding: 0;
  margin:0;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(77, 64, 42);
}
/* navbar */
.navbar{
    background:linear-gradient(100deg,rgb(184, 243, 184),rgb(240, 177, 177),rgb(221, 185, 241),rgb(143, 178, 243));
    display:flex;
    gap:20%;
    height:70px;
    padding-top: 9px;
    box-shadow:grey 0 3px 5px ;
}

.navbar .logo{
    width: 350px;
    margin: 0 0 0 3%;
    display: flex;
    gap: 3%;
}
.navbar img{
    width:50px;
    height:50px;
    
}
.navbar h2{
    margin-top: 19px;
}
.navbar .control {
    display: none;
    cursor: pointer;
}
.navbar .menu{
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin: 40px 20px 0 0;
}
.navbar .menu li{
    list-style: none;
    cursor:pointer;
    position: relative;
}
.navbar .menu li::after{
    content:"";
    background:rgb(126, 68, 54);
    width:0;
    position: absolute;
    left: 0;
    bottom:7px;
    height: 2px;
    transition:  0.5s;
   

}
.navbar .menu li:hover::after{
    width: 100%;

}
@media (max-width:650px){

    .navbar .control{
        display: block;
        height: 30px;
        width: 40px;
        margin: 12px 0 0 12%;
        
        
    }
    .navbar .menu{
        display: none;

    }
    
}
/* image box */
.image-box-content{
    background-image:linear-gradient(rgba(0,0,0,0.5)), url(ecole.jpeg);
    background-size: cover;    
    height:75vh;
    color:rgb(255, 255, 255);
    align-content: center;
    text-align: center;
     
}
.image-box-content h2{
    font-size: 30px;
    color: white;
}
.image-box-content button{
    background: rgb(155, 174, 216);
    border:none;
    width: 120px;
    height: 40px;
    border-radius: 9px;
    font-size: 15px;
    margin-top: 20px;
    cursor:pointer;

}
.image-box-content button:hover{
    background: rgb(75, 112, 235);
    
}
.text{
    padding: 10px 30px;
}
.text div{
    background: rgb(210, 234, 235);
    padding: 20px 50px;
    border-radius: 10px;
    border: solid rgb(194, 193, 193) 1px;
}
/* cards niveux */
.cards-niveaux h3{
    padding:10px 30px;
}
.cards-niveaux .cards{
    display:flex;
    justify-content: center;
    gap: 2%;
    padding:0 10px ;
    flex-wrap:wrap;
}
.cards-niveaux .cards .card{
    background: rgb(210, 234, 235);
    border: solid rgb(194, 193, 193) 1px;
    width: 370px;
    height: 100px; 
    border-radius: 10px;
    padding: 20px 10px;
    flex-grow: 1;
    margin-bottom: 15px;
}
.cards-niveaux .cards .card h4{
    padding-bottom: 9px;
    
}
.cards-niveaux .cards .card p{
    height: 30%;
 }
.cards-niveaux .cards .card button{
    margin:25px 0 0 40%;
    background:rgb(117, 182, 219);
    width: 100px;
    height: 30px;
    border:none;
    border-radius:9px ;
}
.cards-niveaux .cards .card button:hover{
    background: rgb(103, 170, 209);
    margin-top: 24px;
}
/* cards Activites*/
.cards{
    margin-top: 20px;
}
.cards h3{
    margin-left:30px ;
    font-size: 30px;
}
hr{
    margin-left: 2%;
    box-shadow: gray 2px 2px 3px;
}
.cards .cards-Activite{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 2%;
    flex-wrap: wrap;
    padding: 0 14px;    
}
.cards .cards-Activite .card{
    width: 300px;
    height: 460px;
    margin: 15px 0;
} 
.cards .cards-Activite .card:hover{
    box-shadow: gray 0 4px 4px;

}

.cards .cards-Activite .card img{
    width: 100%;
    height: 65%;
    border-radius: 2px;
}
/* footer */
.footer .contect{
    background-color: rgb(83, 109, 121);
    width: 100%;
    height:fit-content;
    margin-top: 5px;
    
}
footer .logo{
    padding-top: 20px;
    width: 350px;
    margin: 0 0 0 5%;
    display: flex;
    gap: 3%;
}
footer .logo img{
    width:50px;
    height:50px;
}
footer .logo h1{
    color: #ffffff;
}

footer .info{
    padding: 5% 5%;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap:10px;
    
 }
footer .info p img{
    width: 20px;
}
footer .info p span{
    margin-left: 9px;
    color: #ffffff;
}

.footer .dernier-p{
    text-align: center;
    background: rgb(116, 114, 114);
    width: 100%;
    color: white;
    padding:5px 0;
}  
/*formule  */

.form-container{
    width: 40%;
    height: fit-content;
    background: white;
    position:fixed;
    top:40px;
    left:25%;
    border-radius:8px;
}
.form-container h2{
    text-align: center;
     margin-top: 20px;
}
.form-container h3{
    text-align: end;
}
.form-container form{
    margin-top: 10px;
    padding:20px;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.form-container input{
    height:35px;
    border:none;
    border: solid gray 1px;
    border-radius:9px;
    padding-left: 5px;
 }
.form-container input:focus{
    

}    

.form-container button{
    height: 30px;
    background: rgb(115, 191, 214);
    border:none;
    border-radius: 8px;
    margin-top: 5px;
}
.form-container button:hover{
    background-color: rgb(99, 177, 201);;
}
